@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable {
    overflow-y: auto;
    max-height: 100vh;
}
.text-outlined {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }
  